// COLORS
$darkcyan: hsl(158, 36%, 37%);
$cream: hsl(30, 38%, 92%);
$verydarkblue: hsl(212, 21%, 14%);
$darkgrayishblue: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);

//FONTS

//Montserrat
//Fraunces
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');


//BODY
body {
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    max-width: 1440px;
    max-height: 900px;
    background-color: $cream;
    .card {
        max-width: 650px;
        border-radius: 20px;
        margin: 20px auto;
        background-color: white;
        display: flex;
        .picture img {
            border-radius: 10px 0px 0px 10px;
            width: 350px;
            height: 100%;
            position: relative;
        }

        //Text Body
        .textbody {
            padding-top: 30px;
            text-align: left;
            padding-left: 30px;
            .header p {
                color: $darkgrayishblue;
                font-size: 12px;
                font-family: 'Montserrat', sans-serif;
            }
            .header h1 {
                width: 185px;
                font-weight: bolder;
                font-family: 'Fraunces', sans-serif;
            }
            .description p {
                width: 220px;
                font-family: 'Montserrat', 'Times New Roman', Times, serif;
                color: $darkgrayishblue;
            }

            .prices .sale {
                color: $darkcyan;
                font-size: 40px;
                font-weight: bolder;
                font-family: 'Fraunces', sans-serif;
            }
            .prices .original {
                padding: 15px;
                color: $darkgrayishblue;
                text-decoration: line-through;
            }

            .addbutton {
                padding: 20px 0px 40px 0px;
            }

            .addbutton button{
                padding: 10px;
                width: 200px;
                height: 40px;
                background-color: $darkcyan;
                color: $white;
                border: none;
                border-radius: 5px;
            }
        }
    }
}